<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name=".MainActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".GoodsdetialActivity"></activity>
        <activity android:name=".GoodsActivity"></activity>
        <activity android:name=".UpdateActivity"></activity>
        <activity android:name=".CollectedActivity"></activity>
        <activity android:name=".SharePageActivity"></activity>
        <activity android:name=".RegisterActivty"></activity>
        <activity android:name=".StartActivty"></activity>
        <activity android:name=".ServiceActivity"></activity>
        <activity android:name=".ShopdetialActivity"></activity>
        <activity android:name=".MessageActivity"></activity>
        <activity android:name=".sousuoActivity"/>
        <activity android:name=".suosouShopdetialActivity"/>
        <activity android:name=".BuinessActivity"/>
        <activity android:name=".BuinessRegister"/>
        <activity android:name=".Goods_content"/>
        <activity android:name=".Add_Goods"/>
        <activity android:name=".LoginActivity"/>

    </application>

</manifest>